html {
  background-color: #2196f3;
  min-height: 1000px;
  font-family: "helvetica neue";
  background: url(./assets/bg-pattern.png), #2196f3;
  background: url(./assets/bg-pattern.png),
    -webkit-gradient(linear, right top, left top, from(#2196f3), to(#009688));
  background: url(./assets/bg-pattern.png),
    linear-gradient(to left, #2196f3, #009688);
}

h1 {
  color: #fff;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #3f51b5;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

.item:last-child {
  border-bottom: 0;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

.centrado {
  text-align: center;
}

form {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #3f51b5;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 40%;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #3f51b5;
}

::placeholder {
  color: grey;
  opacity: 1;
}

.buttonRed {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #ff0000;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}
